.flexContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  margin: 1rem;
  width: 100%;
  height: 100vh;
  gap: 2rem;
  margin-bottom: 0;
}

.box,
.imageBox {
  display: flex;
  max-width: 680px;
  flex: none; /* Prevent stretching */
}

.box {
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 85vh;
  height: fit-content;
  border-radius: 8px;
}

.box h1 {
  color: rgb(0, 0, 0);
  padding: 5px;
  margin-left: 10px;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.box p {
  color: black;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.imageBox img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.galleryWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  width: 100%;
  height: 100%;
}

.galleryHeader h2 {
  font-size: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.gallery {
  column-count: 3;
  column-gap: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 95%;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.galleryTile {
  break-inside: avoid;
  margin-bottom: 20px;
  background: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galleryTile:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.galleryTile img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

.galleryTile p {
  color: black;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  word-wrap: break-word;
  max-width: 100%;
}

.galleryTile img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .aboutSection {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 10px 0;
  }

  .box,
  .imageBox {
    width: 85%;
  }

  .box {
    min-height: auto;
  }

  .imageBox {
    margin-top: 1rem;
  }
}

@media (max-width: 1200px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 768px) {
  .gallery {
    column-count: 1;
  }
}
