.flexwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  height: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 0.5rem; /* Add consistent spacing */
  margin: 0;
  flex-direction: column;
  margin-bottom: 0px;
}

.text h1 {
  color: red;
  font-size: 100px;
  font-weight: bold;
  margin: 0;
}

.text h2 {
  color: rgb(46, 46, 46);
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.text p {
  color: black;
  margin: 0;
}

.text a {
  margin-top: 10px;
  background-color: #007bff;
  padding: 10px;
  border-radius: 8px;
  color: white;
}
