.flexwrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  height: fit-content;
}

.content > h1 {
  color: black;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(125, 125, 125);
}

.projectTile {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  border-radius: 8px;
}

.projectTile h2 {
  width: 100%;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.projectTile img {
  width: 80%;
  height: auto;
}

.projectTile p {
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
