.flexwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.flexwrapper > h1 {
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.content {
  column-count: 3;
  column-gap: 20px;
  height: 100%;
  padding: 2rem;
  width: 100%;
  border-radius: 8px;
  color: white;
}

@media (max-width: 1000px) {
  .content {
    column-count: 2;
  }
}

@media (max-width: 768px) {
  .content {
    column-count: 1;
  }
}

.projectTile .tileText {
  width: 100%;
}

.projectTile {
  display: flex;
  flex-direction: column;
  break-inside: avoid;
  width: 100%; /* Let the grid handle sizing */
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.projectTile h2,
.projectTile p,
.projectTile a,
.projectTile img,
.projectTile video {
  padding-left: 15px;
  padding-right: 15px;
}

.projectTile h2 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.projectTile img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.projectTile p {
  text-shadow: var(--liquid-glass-text-shadow);
}

.projectTile a {
  color: blue;
  text-decoration: none;
}

.projectTile a:hover {
  text-decoration: underline;
}
