.container {
  position: fixed; /* This keeps it stuck to the top */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  /*
  background-color: rgba(30, 60, 90, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  */
  background-color: var(--color-navbar-background);
  color: #f0f0f0;
  z-index: 1000; /* Ensure it stays above other content */
  user-select: none;
}

.container img {
  position: absolute;
  left: 20px;
  height: 40px;
}

.container h3 {
  font-size: 30px;
}

.container a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.center-content {
  display: flex;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;
  flex: 1; /* take up remaining space between left and right */
  position: static; /* removes absolute positioning */
}

@media (max-width: 768px) {
  .container img {
    height: 30px;
  }
  .center-content {
    font-size: 1.3rem;
  }
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: inherit;
}

.dropdown-wrapper {
  position: relative;
}

.profile-icon-button {
  display: inline-flex;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  align-items: center;
  margin-top: 0;
  gap: 8px;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 100;
  min-width: 120px;
}

.dropdown-menu a,
.dropdown-menu button {
  text-align: left;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.loginButton {
  background-color: #007bff;
  border-radius: 8px;
  margin-bottom: 2px;
  margin-right: 5px;
  padding-bottom: 5px;
}
